@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply text-black font-gothic leading-tight mb-0;
    }

   	.container {
        @apply mx-auto w-4/5;
    }
    .row {
        @apply grid grid-cols-12 lg:gap-5;
    }
    .col {
        @apply col-span-12 mb-0 text-center; 
    }

    .headingOne {
        @apply font-gothic-bold text-center text-4xl mb-8 lg:text-7xl lg:mb-16;
    }
    .headingTwo {
        @apply font-gothic-bold text-2xl leading-tight mb-4 lg:text-4xl lg:mb-8;
    }
    .headingThree {
        @apply font-gothic-bold text-xl lg:text-2xl ;
    }
    .bodyText {
        @apply text-sm leading-tight mb-4;
    }
    .subtitleTwo {
        @apply text-xs lg:text-sm;
    }

    .poi-container {
        @apply flex items-center justify-center gap-4 mb-3 lg:items-start;
    }

    .cta-container {
        @apply text-center;
    }
    .cta-button {
        @apply text-sm font-gothic-bold rounded-full py-2 px-4 inline-block;
    }
    .cta-button-black {
        @apply text-white bg-black;
    }
    .cta-button-white-outline {
        @apply text-white border-white border-2;
    }
   
}

@font-face {
	font-family: 'gothic';
	src: url("../fonts/GOTHIC.TTF") format("truetype");
}
@font-face {
	font-family: 'gothic-bold';
	src: url("../fonts/GOTHICB0.TTF") format("truetype");
}
html {
    scroll-behavior: smooth;
}
.white-text {
    color: #fff !important;
}
#tutorials-section {
    background-size: 100% 95%;
    background-position: center top;
}

/*Hamburger transitions with open class added via javascript */
.open {
    transform: rotate(90deg) !important;
    transform: translateY(0px) !important;
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px) !important;
}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px) !important;
}
body.no-scroll {
    overflow: hidden;
    height: 100%;
}
#mobile-menu .cta-button {
    margin-top: 2rem;
}
#mobile-menu li {
    margin-bottom: 1rem;
}
#desktop-menu #menu-main-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#desktop-menu #menu-main-menu a {
    font-size: 14px;
}
#desktop-menu .cta-button {
    margin-left: 2rem;
}
#image-slider .splide__slide img {
    border-radius: 25px;
}